*{
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
#hook {
  visibility: visible;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 1px;
  overflow-y: auto;
  overflow-x: auto;
}

#port {
  max-height: 250px;
  max-width: 880px;
  display: inline-flex;
  overflow: auto;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }

}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 150%;

  }

.modal {
    display: none;/* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
img {
  padding: 1px;
  cursor: pointer;
  transition: 0.3s;
}


img:hover {
  opacity: 0.7;
}



.middle{
  margin: 10px auto;
  width: 100%;
  height: auto;
}
ul {
  width: 50%;
  margin: 0px auto;
  list-style: none;
  height: 3rem;
  display: flex;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 7px;
}
@media only screen and (max-device-width: 680px) {
  ul {
    width: 75%;
    margin: 0px auto;
    list-style: none;
    height: 3rem;
    display: flex;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 7px;
  }
  #port {
    max-height: auto;
    max-width: auto;
  }
  

}

li {
  border-radius: 4px;
  margin: auto auto;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
li:hover {
  : red;

}
.line:hover{

  background-color: black;
}
.line {
  padding: 0;
  min-width: 1px;

color: white;

}



#header2 {
  background-image: url("2.png");
  height: 70vh;
  width: 450px;
  margin: 0 auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
  font-family: sans-serif;
  border: 3px solid white;
}
#about{
  display: none;
  height: auto;
  margin: 10px auto;
  width: 450px;
  max-width: 50%;
  background-color: white;
}

#buttonArea{
  max-height: 10vh;
  background-color: #181818;
}

#inside_button{
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}


#header1 {
  background-image: url("2.png");
  height: 90vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  font-family: sans-serif;

}

a {
  color:white;
  text-decoration: none;
}
a:active {
  color: white;
}
a:hover {

  text-decoration: underline;
  transition: all .25s ease;
}
#para {
  height: 100%;
  width: 100%;
  background-color: pink;

}
p{
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px auto;
  max-width: 600px;

}
